.tapewinder-black {
    background-color: #111111;
}

.tapewinder-border {
    border: 15px solid #242424;
    background-color: #242424;
}

.text-center {
    text-align: center;
}

.hamburger {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

body {
    background-color: #1B1B1B;
}