:root {
    --tapewinder-black: #111111;
    --tapewinder-body: #1B1B1B;
}

.tapewinder-black {
    background-color: var(--tapewinder-black);
}

.tapewinder-border {
    border: 15px solid #242424;
    background-color: #242424;
}

.text-center {
    text-align: center;
}

.hamburger {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

.noyellowbackdrop {
    background-image: none !important;
}

.inputfielddanger {
    border: red 1px solid !important;
}

a:hover {
    color: #ffffff80
}

body {
    background-color: var(--tapewinder-body);
}

/* bootstrap overrides */

.modal {
    --bs-border-color: #141414;
}

.modal-content {
    background-color: var(--tapewinder-black);
}

.modal-body {
    background-color: var(--tapewinder-body);
}

.form-control {
    caret-color: white;
    color: white;
    background-color: var(--tapewinder-body);
    border: 1px solid var(--bs-gray-800);
}

.form-control:focus {
    color: white;
    box-shadow: none;
    border-color: white;
    background-color: #222;
    border: 1px solid var(--bs-gray-700)
}

.input-group-text {
    background-color: var(--tapewinder-black);
    border: 1px solid var(--bs-gray-800);
    color: white;
}