doctype html 
html(lang="en")
	head 
		include head.pug
		+head("Tapewinder")
	body
		include nav.pug 
		+nav(true)
		div.white.container-flex.m-4
			p(class="display-5 open-sans bold d-inline") My mixtapes
			a(class="open-sans bold float-end d-inline white mt-3" href="/") See all:
		div.container-flex.m-4
			include card.pug 
	script(src="/js/bundle.js")
