doctype html
html(lang="en")
    head
        include head.pug
        +head("success")
    body
        include nav.pug 
        +nav()
        h1(class="open-sans white m-4 bold") Thanks for registering for tapewinder! Log in above.